---
import Layout from '../../layouts/Layout.astro';
import ReservaDetalle from '../../components/reservas/ReservaDetalle.vue';
---

<Layout
  title="Detalle de Reserva | StellarTourism"
  description="Detalles de tu reserva espacial con StellarTourism."
>
  <main>
    <ReservaDetalle client:load id={Astro.params.id} />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 2rem 1rem;
  }
</style>
